@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
   font-size: 16px;
   font-family: 'Heebo', sans-serif;
}

* {
   font-family: 'Heebo', sans-serif;
}

body {
   margin: 0;
   padding: 0;
   background-color: rgb(255, 255, 255);
}

header {
   height: 7.7rem;
   position: relative;
   z-index: 1;
   padding-left: 9vw;
   padding-right: 9vw;
   border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

header > * {
   display: inline;
}

#logo {
   border: 1px solid rgba(128, 128, 128, 0.2);
   width: 6em;
   max-width: 100%;
   padding-left: 1.2em;
   padding-right: 1.2em;
   padding-top: 2.5em;
   padding-bottom: 2.95em;
   background-color: white;
   margin-right: 2rem;
}

.button_container {
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.button_container > button {
   font-size: 1rem;
   border: none;
   margin-right: 0.25rem;
   margin-left: 0.25rem;
   background-color: white;
   padding-top: 1.55rem;
   padding-bottom: 1.55rem;
   font-weight: 300;
}

.button_container > button:hover {
   box-shadow: inset 0px -32px 0px -30px rgb(213, 0, 28);
   color: rgb(213, 0, 28);
}

.button_container > button > img {
   min-height: 100%;
   max-width: 8rem;
   display: block;
   margin-bottom: -0.4rem;
}

p {
   margin: 0;
}

.carousel_slide {
   position: relative;
   max-width: 100%;
   max-height: 100%;
}

.slide_image {
   display: block;
   width: 100%;
}

.slide_info {
   position: absolute;
   white-space: nowrap;
}

.slide_info > p {
   position: absolute;
   color: white;
   transition: 0.2s ease;
}

.slide_info:hover > p {
   color: rgb(207, 19, 27);
   transition: 0.2s ease;
}

.slide_info > p > img {
   width: 0.5em;
   margin-right: 0.1em;
}

.slide_info__slogan {
   bottom: 1.8em;
   left: 2.78em;
   font-weight: 600;
   font-size: 3.25vw;
}

.slide_info__model {
   bottom: 2.4em;
   left: 6.3em;
   font-weight: 500;
   font-size: 1.75vw;
}

.section_title {
   margin-top: 0.7em;
   margin-bottom: 0.5em;
   font-weight: 600;
   font-size: 2.5vw;
   margin-left: 4em;
   letter-spacing: -1px;
}

.gallery_grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0px;
}

.gallery_items {
   position: relative;
   box-shadow: inset 0px 0px 300px 185px rgba(24, 24, 24, 0.1);
}

.gallery_items > img {
   max-width: 100%;
   display: block;
   min-width: 100%;
   position: relative;
   z-index: -1;
}

.gallery__car_name {
   position: absolute;
   top: 0.25em;
   left: 1.15em;
   bottom: 0;
   font-weight: 500;
   color: white;
   font-size: 2.25em;
}

.gallery__item_button_left {
   position: absolute;
   bottom: 2em;
   left: 2.5em;
   padding: 0.75em;
   padding-right: 1.5em;
   padding-left: 1.5em;
   background-color: white;
   color: black;
   transition: 0.2s ease;
}

.gallery__item_button_left:hover {
   background-color: rgb(207, 19, 27);
   color: white;
   transition: 0.2s ease;
}

.gallery__item_button_right:hover {
   outline-color: rgb(207, 19, 27);
   color: rgb(207, 19, 27);
   transition: 0.2s ease;
}

.gallery__item_button_right {
   position: absolute;
   bottom: 2em;
   left: 13em;
   padding: 0.75em;
   padding-right: 1.5em;
   padding-left: 1.5em;
   outline: 1px solid white;
   outline-offset: -1px;
   color: rgb(255, 255, 255);
   transition: 0.2s ease;
}

@media only screen and (max-width: 1200px) {
   .gallery_grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .button_container > * {
      display: none;
   }

   header {
      height: 4.5rem;
   }

   #logo {
      padding-top: 1em;
      padding-bottom: 1em;
   }
}

img {
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

::-moz-selection {
   /* Code for Firefox */
   background-color: rgba(207, 19, 28, 0.9);
   color: rgb(255, 255, 255);
}

::selection {
   background-color: rgba(207, 19, 27, 0.9);
   color: rgb(255, 255, 255);
}
